{% load staticfiles %}


<html>

<head>
<link rel="stylesheet" type="text/css" href="{% static 'tweetpage/style.css' %}" />
{% block head_extend %}
{% endblock %}
<div class="social-media">
<!--Twitter-->
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://politicotweet.herokuapp.com/politicotweet" data-count="none" data-hashtags="politicotweet">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

<title>PoliticoTweet</title>
<link rel="icon" 
      type="image/png" 
      href="{% static '/static/tweetpage/images/favicon.png' %}">
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<div class="header"><h1>Politico<span style="color:red">Tweet</span></h1></div>

{% block content %}
{% endblock %}




</body>
</html>