{% extends 'tweetpage/base.html' %}
{% load staticfiles %}
{% load shuffle %}


{% block head_extend %}
<script type="text/javascript" src="{% static 'tweetpage/main.js' %}"></script>
{% endblock %}


{% block content %}
<div class="twitter-tweet" id='{{tweet.0.user.screen_name}}' name='{{tweet.0.user.screen_name}}'>
	<p id="tweet">{{tweet.0.text}}</p>
</div>


<div class="stats">
	<p id="match_outcome"><br></p>
	<p id="guesses_text">Guesses left: <span id=guesses_num></span></p>
	<p id="correct_text">Correct: <span id=correct_num></span></p>
</div>


<div class="politician-container">
	{% for person in tweet|shuffle %}
	<div class="politician" name="{{ person.user.screen_name }}" onClick="test_match('{{ person.user.screen_name }}')">
		<div class="profilepic">
			<img src={{ person.user.profile_image_url }}></img>
		</div>
		<p>{{ person.user.name }}<p>
	</div>
	{% endfor %}
</div>

{% endblock content %}