{% extends 'tweetpage/base.html' %}
{% load staticfiles %}


{% block head_extend %}
<head>
	<script type="text/javascript" src="{% static 'tweetpage/start.js' %}"></script>
</head>
{% endblock %}


{% block content %}
<div class="results-box">
	<a href="guess/"><img src="{% static '/static/tweetpage/images/twitter_circle.png' %}" /></a>
	<p>Are all politicians the same? Do they all tout the same, tired rhetoric? 
	Prove your political savvy by matching the tweet to the politician who wrote it. 
	Careful, though! Get three wrong and it's game over for your political career.</p>
<!--	<input type="submit" id="myButton" value="Let's Play!" onClick="store_cache();"></input>-->
	<a href="guess/">Let's play!</a>
</div>
{% endblock content %}

