{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'tweetpage/style.css' %}" />
</head>
<body>
<div class="header"><h1>Politico<span style="color:red">Tweet</span></h1></div>

<div class="results-box">
	<img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_color-512.png" /?>
	<p>Are all politicians the same? Do they all tout the same, tired rhetoric? 
	Prove your political savvy by matching the tweet to the politician who wrote it. 
	Careful, though! Get three wrong and it's game over for your political career.</p>
	<a href="/tweetpage">Let's play!</a>
</div>

<br>
</body>
</html>