{% extends 'tweetpage/base.html' %}
{% load staticfiles %}


{% block head_extend %}
<script type="text/javascript" src="{% static 'tweetpage/summary.js' %}"></script>
{% endblock %}


{% block content %}
<div class="results-box">
	<h2>{{ object.title }}</h2>
	<img src="/static/tweetpage/images/{{ object.img_src }}" />
	<p style="color:blue; text-align:center;">Correct: <span id="correct_num"></span></p>
	<p>{{ object.description }}</p>
	<a href="/politicotweet/guess/">Play again?</a>
</div>
{% endblock content %}